<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" fxLayout="column" fxLayoutAlign="center center">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/run']" (click)="sidenav.close()" *ngIf="isAuth">
        <mat-icon class="nav-items">directions_run</mat-icon>
        <span class="nav-text">Runs</span>
      </a>
      <mat-list-item fxLayoutAlign="center" >
        <button mat-icon-button (click)="onLogoutSideNav()" (click)="sidenav.close()" *ngIf="isAuth">
          <mat-icon class="nav-items">eject</mat-icon>
          <span class="nav-text">Logout</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a [routerLink]="['/']">Running Records</a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="nav-items">
          <li *ngIf="isAuth"><a [routerLink]="['/run']">Runs</a></li>
          <li *ngIf="isAuth"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
