<section class="new-run" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartRun(form)" #form="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title class="runTitle" fxLayoutAlign="center">
        How Long would you like to run for?
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isPageLoading && runs">
          <mat-label>Run Distance</mat-label>
          <mat-select ngModel name="runDistance" required>
            <mat-option *ngFor="let run of runs" [value]="run.id">
              {{ run.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isPageLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isPageLoading">
        <button *ngIf="runs" mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
          Start
        </button>
        <button *ngIf="!runs" mat-raised-button color="accent" type="button" (click) = "fetchRuns()" >
          Fetch Again?
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
