<section class="new-run" fxLayout fxLayoutAlign="center center" fxLayoutGap="17px">
  <form
    #fp="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title class="plantTitle" fxLayoutAlign="center center">
        How was your run?
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Day of your run?</mat-label>
          <input
            matInput
            required
            ngModel
            placeholder="Pick a date!"
            name="date"
            #dPick="ngModel"
            [matDatepicker]="datePicker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-error *ngIf="dPick.hasError('required')"
            >Field must not be empty.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Run Distance? (KM)</mat-label>
          <input
            type="number"
            matInput
            placeholder="100"
            ngModel
            required
            name="distance"
            #rDis="ngModel"
          />
          <mat-error *ngIf="rDis.hasError('required')">
            Field must not be empty and be a number.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>How do you feel?</mat-label>
          <mat-select required ngModel name="dropdown" #mDrop="ngModel">
            <mat-option value="good">Good</mat-option>
            <mat-option value="ok">Alright</mat-option>
            <mat-option value="rough">Rough</mat-option>
          </mat-select>
          <mat-error *ngIf="mDrop.hasError('required')">
            Field must not be empty.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Calories burned?</mat-label>
          <input
            type="number"
            matInput
            placeholder="500"
            ngModel
            name="calories"
            #cBurn="ngModel"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          type="submit"
          mat-button
          [disabled]="fp.invalid"
          (click)="fp.reset()"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
