<section class="new-run" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title class="plantTitle" fxLayoutAlign="center">
      How was your run?
    </mat-card-title>
    <mat-card-content>
      <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="5px"
      #fp="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Day of your run?</mat-label>
          <input
          matInput
          required
          ngModel
          placeholder="Pick a date!"
          [matDatepicker]="datePicker">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Run Distance? (KM)</mat-label>
          <input
            matInput
            placeholder="Rose"
            ngModel
            required
            name="pName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>How do you feel?</mat-label>
          <mat-select required>
            <mat-option value="good">Good</mat-option>
            <mat-option value="ok">Alright</mat-option>
            <mat-option value="rough">Rough</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Progress Description</mat-label>
          <textarea
            matInput
            placeholder="How is your plant doing?"
            ngModel
            name="message"
            required
            #descInput="ngModel"
          ></textarea>
          <mat-error *ngIf="descInput.hasError('required')">Field Must not be empty.</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button>Submit</button>
    </mat-card-actions>
  </mat-card>
</section>

