<div class="landing-page" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>Welcome!</h1>
    <p>
      Have you ever wanted to have the ability to keep a record of all the runs you have done?
    </p>
    <p>
      Well, with Running Records now you can, get started now and sign up today!
    </p>
    <a [routerLink]="['/login']">
      <button mat-raised-button color="accent">Login</button>
    </a>
    <a [routerLink]="['/signup']">
      <button mat-raised-button color="accent">Signup</button>
    </a>
  </section>
  <br>
  <section>
    <h1>Features</h1>
    <p>
      In this application you will have the ability to keep track of the runs you have done,
      by attaching a date and how many Kilometers you ran as well!
    </p>
  </section>
</div>
