<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Day Of Run</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.dayOfRun | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="distance">
    <mat-header-cell *matHeaderCellDef>Run Distance</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.distance | number }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="mood">
    <mat-header-cell *matHeaderCellDef>Mood After Run</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.mood }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="calories">
    <mat-header-cell *matHeaderCellDef>Calories Burned</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.calories | number }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
